.albumList{
  margin-top: 50px;
}
.albumListLink {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: 20px;
  transition: 0.3s;
}
.albumListLink:hover {
  color: white;
  background-color: #6c757d;
}

.albumListLink:first-letter {
  text-transform: uppercase;
}

.albumListWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
