.post {
  background-color: white;
  padding: 80px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: 50px;
}

.post h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.post h1:first-letter {
  text-transform: uppercase;
}
