.usersWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.userCard {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: 20px;
  width: 32%;
  display: flex;
  overflow: hidden;
}

.userIcon {
  background-color: cadetblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 65px;
  min-height: 65px;
  max-width: 65px;
  max-height: 65px;
  margin-right: 20px;
}

.userIcon span {
  color: white;
  font-weight: 900;
  font-size: 24px;
}

.useInfo {
  overflow: hidden;
}
.userContacts {
  margin-top: 15px;
}

.userContacts div {
  margin-top: 5px;
}

.userContacts div span {
  color: rgb(190, 190, 190);
}


